<div id="footer">
    <img src="/casparcg-template-marketplace/img/logo.png" width="300px" /><br /> This library was created by <a
        href="https://github.com/cjdenio" target="_blank">Caleb Denio</a>. It's not endorsed by CasparCG or SVT in any
    way.<br /> Hosted on <a href="https://github.com/cjdenio/casparcg-template-marketplace" target="_blank">GitHub</a>.<br />
        <a href="https://github.com/cjdenio/casparcg-template-marketplace/blob/master/CONTRIBUTING.md">Add your own!</a><br /><br />
        <img src="{{ site.baseurl }}/img/deniomedia-project.svg" width="200px" />
</div>

<script src="{{ site.baseurl }}/index.js"></script>
{% if page.url == '/' %}
    <script src="{{ site.baseurl }}/search.js"></script>
{% endif %}