<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/casparcg-template-marketplace/css/index.css" />
    <link rel="stylesheet" href="/casparcg-template-marketplace/css/templates.css" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap" rel="stylesheet">
    {% if page.template_name %}
    <title>{{ page.template_name }} | CasparCG Template Marketplace</title>
    {% else %}
    <title>CasparCG Template Marketplace</title>
    {% endif %}

    <link rel="icon" href="{{ site.baseurl }}/img/icon.png" />
</head>

<div id="header">
    <a href="{{ site.baseurl }}/"><img id="logo" src="/casparcg-template-marketplace/img/logo-light.png"
            alt="CasparCG Template Marketplace" /></a>
            {% if page.url == '/' %}
            <br />
            <input type="text" placeholder="Search" id="search" />
            {% endif %}
</div>
