{% include header.html %}

<style>
    *{
        color: black;
    }
    body{
        /*background-color: rgb(220, 220, 220);*/
    }
    #content-1{
        height: 240px !important;
    }
    .sidebar{
        float: left;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .template-page-body{
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
        width: 75%;
        min-height: 1000px;
        margin: 10px auto;
        margin-bottom: 50px;
        /*padding: 20px;*/

        font-size: 20px;
    }
    #download{
        /*box-shadow: 0px 10px 0px black;*/
        transition: all 200ms;
        margin-bottom: 20px;
    }
    #download:hover{
        /*filter:brightness(115%);*/
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
    }
    #download:active{
        transform: translateY(5px);
        /*box-shadow: 0px 0px 0px black;*/
    }
    .badge{
        /*border: 2px solid rgb(200, 200, 200);*/
        color: white;
        background-color: rgb(200, 200, 200);
        font-weight: bold;
        padding: 5px;
        border-radius: 7px;

        transition: all 200ms;

        cursor: default;

        margin: 0 5px;
    }
    .badge:hover{
        background-color: rgb(100, 100, 100);
    }
    #image{
        transition: all 300ms;
    }
    #image:hover{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    .inner{
        padding: 20px 100px;
    }
</style>

<div id="content-1"></div>

<!-- <div class="sidebar">
    <h1>Some content</h1><br /><br />
    <h2>Some more</h2>
</div> -->
<h1 style="margin-bottom:0">{{ page.template_name }}</h1>
<h2 style="margin:0">by <span class="highlight">{{ page.creator }}</span></h2><br />
{% for tag in page.tags %}
<span class="badge">{{ tag }}</span>
{% endfor %}

<br /><br />

<a href="{{ site.baseurl }}/template_files/{{ page.short_name }}.zip" download><img src="{{ site.baseurl }}/img/download.png" width="200px" id="download" /></a>

<div class="template-page-body">
    <div class="inner">
        {% if page.image %}
        <img src="{{ site.baseurl }}/thumbnails/{{ page.image }}" width="300px" id="image" />
        {% else %}
        <img src="{{ site.baseurl }}/thumbnails/{{ page.short_name }}.png" width="300px" id="image" />
        {% endif %}
        {{ content }}
    </div>
</div>

<h1>{{ page.template_name }}</h1>
<a href="{{ site.baseurl }}/template_files/{{ page.short_name }}.zip" download><img
        src="{{ site.baseurl }}/img/download.png" width="200px" id="download" /></a>

{% include footer.html %}
